<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\SF\Projects\Part3_Mod33\Part3_Mod33\bin\Debug\net5.0\Logs" />
    <!--<add key="logDir" value="" />-->
    <add key="eventFile" value="events.log" />
    <add key="errorFile" value="errors.log" />
  </appSettings>
</configuration>